/* Awal Header */
#Header a,
#Login a,
#Register a {
  font-family: concert one;
  font-size: 14px;
  text-decoration: none;
}
#Header a:hover,
#Login a:hover,
#Register a:hover {
  font-family: concert one;
  font-size: 14px;
  color: #2a96ce;
  text-decoration: none;
}
#Header .btn,
#Login .btn,
#Register .btn,
#Rekruitment-User .btn {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 1px gray;
  font-size: 14px;
  background-color: #2a96ce;
}
#Header .btn:hover,
#Login .btn:hover,
#Register .btn:hover,
#Rekruitment-User .btn:hover {
  width: 100%;
  height: auto;
  color: gray;
  background-color: #76d1ff;
  border-radius: 10px;
  box-shadow: 3px 3px 1px gray;
  font-size: 14px;
}
/* Akhir Header*/

/* Awal Banner*/
#Banner .bg-banner img {
  width: 100%;
  height: 750px;
  margin-top: 100px;
  object-fit: cover;
}
#Banner .carousel-caption {
  font-family: concert one;
  text-shadow: 3px 2px 1px black;
}
#Banner .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
#Banner .carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: white;
  background-clip: padding-box;
  border-radius: 100%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
#Banner .fa-chevron-left,
.fa-chevron-right {
  font-size: 50px;
}
#Banner .fa-chevron-left:hover,
.fa-chevron-right:hover {
  color: #76d1ff;
  font-size: 50px;
}
/* Akhir Banner */

/*  Awal Informasi */
#Informasi .informasi h2,
#Sejarah-Perusahaan .Judul h2,
#Tujuan-GCG .Judul h2,
#Struktur-Organisasi .Judul h2,
#Landasan-Hukum .Judul h2,
#Struktur-GCG .Judul h2,
#Tabel-Mutasi .Judul h2,
#Login .Judul h2,
#Register .biodata h2 {
  font-family: concert one;
  font-size: 32px;
  text-shadow: 2px 2px 1px grey;
}
#Informasi hr {
  width: 150px;
  text-align: left;
  border: 0.8px;
  border-style: solid;
  border-color: #2a96ce;
  margin-left: 0;
  margin-top: -5px;
}
#Informasi .bg-Informasi,
#Sejarah-Perusahaan .bg-Sejarah-Perusahaan,
#Tujuan-GCG .bg-GCG,
#Konsep-GCG .bg-Konsep-GCG,
#Landasan-Hukum .bg-Landasan-Hukum,
#Tabel-Mutasi .bg-Table {
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
}
#Informasi .bg-Informasi a,
#Visi-Misi .Judul {
  font-family: concert one;
  color: black;
  text-decoration: none;
}
#Informasi .bg-Informasi a:hover {
  font-family: concert one;
  color: #2a96ce;
  text-decoration: none;
}
#Informasi .bg-isi {
  width: 100%;
  border: 0.5px;
  border-style: solid;
  border-color: #2a96ce;
  background-color: white;
}
#Informasi .bg-isi img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
#Informasi .bg-isi h3 {
  font-size: 23px;
  font-family: concert one;
}
#Informasi .bg-isi h6,
#Sejarah-Perusahaan .sejarah h6 {
  font-family: neuton;
  text-align: justify;
}
/*  Akhir Informasi */

/* Awal Jumbotrom */
#Jumbotron .jumbotron {
  background-size: cover;
  height: 620px;
}
#Jumbotron .Judul h3 {
  font-family: concert one;
  color: white;
  margin-top: 120px;
  text-shadow: 3px 2px 1px black;
}
#Jumbotron .Judul h4 {
  font-family: concert one;
  color: white;
  margin-top: 20px;
  text-align: center;
  text-shadow: 3px 2px 1px black;
}
#Jumbotron .btn {
  /* margin-top: 50px; */
  background-color: #2a96ce;
  font-family: concert one;
  box-shadow: 3px 3px 1px black;
  border-radius: 10px;
}
#Jumbotron .btn:hover {
  margin-top: 50px;
  background-color: #76d1ff;
  color: gray;
  font-family: concert one;
  box-shadow: 3px 3px 1px black;
  border-radius: 10px;
}
/* Akhir Jumbotron */

/* Awal Jumbotron Mutasi */
#Jumbotron-Mutasi .jumbotron,
#Rekruitment-Jumbotron .jumbotron {
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 750px;
}
#Jumbotron-Mutasi .Judul h3,
#Rekruitment-Jumbotron .Judul h3 {
  font-family: concert one;
  color: white;
  text-align: center;
  margin-top: 400px;
  text-shadow: 3px 2px 1px black;
}
/* Akhir Jumbotron Mutasi */

/* Awal Label */
#Label .breadcrumb,
#Label .breadcrumb i {
  background-color: white;
  font-size: 22px;
  color: black;
  margin-right: 30px;
  margin-top: 7px;
}
#Label .breadcrumb a {
  font-size: 18px;
  font-family: concert one;
  color: black;
  text-decoration: none;
}
#Label .breadcrumb a:hover {
  font-size: 18px;
  font-family: concert one;
  color: #2a96ce;
  text-decoration: none;
}
#Label .active {
  color: #2a96ce;
  font-family: concert one;
}
#Label hr {
  width: 100%;
  text-align: left;
  border: 0.8px;
  border-style: solid;
  border-color: #2a96ce;
  margin-left: 15px;
}
/* Akhir Label */

/* Awal Sejarah-Perusahaan */
#Sejarah-Perusahaan .Judul hr,
#Struktur-Organisasi .Judul hr {
  width: 305px;
  text-align: left;
  border: 0.8px;
  border-style: solid;
  border-color: #2a96ce;
  margin-top: 0px;
}
#Sejarah-Perusahaan .tahun a {
  font-family: lato;
  font-weight: bold;
  font-size: 28px;
  justify-content: center;
  text-align: center;
  margin-left: 120px;
}
#Sejarah-Perusahaan .fa-chevron-circle-left,
.fa-chevron-circle-right {
  font-size: 35px;
  color: #898989;
  margin-bottom: 25px;
}
#Sejarah-Perusahaan .fa-chevron-circle-left:hover,
.fa-chevron-circle-right:hover {
  font-size: 35px;
  color: #2a96ce;
}
/* Akhir Sejarah Perusahaan */

/* Awal VISI MISI */
#Visi-Misi .Visi {
  background-color: #2948a6;
  box-shadow: 3px 3px 1px grey;
  border-radius: 15px;
}
#Visi-Misi .Misi {
  background-color: #2a96ce;
  box-shadow: 3px 3px 1px grey;
  border-radius: 15px;
}
#Visi-Misi .Visi h6 {
  color: white;
  font-family: neuton;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: justify;
}
#Visi-Misi .Misi h6 {
  color: white;
  font-family: neuton;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}
/* Akhir VISI MISI */

/* Awal Struktur Organisasi */
#Struktur-Organisasi .Struktur img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}
#Struktur-GCG .Struktur img,
#Login .bg-Login img {
  width: 100%;
}
/* Akhir Struktur Organisasi */

/* Awala GCG */
#Tujuan-GCG .Isi-GCG img {
  margin-top: 20px;
}
#Tujuan-GCG .Isi-GCG h6 {
  font-family: neuton;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
/* Akhir GCG */

/* Awal Konsep-GCG */
#Konsep-GCG .Isi-Konsep h5 {
  font-family: neuton;
  text-align: justify;
  margin-top: 20px;
}
#Konsep-GCG .Isi-Konsep h4 {
  font-family: concert one;
  text-shadow: 2px 1px 1px grey;
  margin-top: 30px;
}
#Konsep-GCG .Isi-Konsep li,
#Landasan-Hukum .Isi-Landasan li {
  font-family: neuton;
  font-size: 20px;
  text-align: justify;
}
/* Akhir Konsep-GCG */

/* Awal Mutasi Karyawan */
#Table-Mutasi .table {
  box-shadow: 3px 3px 1px black;
}
#Table-Mutasi .table th {
  font-family: concert one;
  border: 1px solid black;
  background-color: #2a96ce;
}
#Table-Mutasi .table td {
  font-family: neuton;
  border: 1px solid black;
}
/* Akhir Mutasi Karyawan */

/* Awal Rekruitment */
#Rekruitment-Public .bg-Rekruitment,
#Rekruitment-User .bg-Rekruitment,
#Dokument-Alir .bg-Dokument-Alir {
  background-color: rgb(255, 0, 0, 30%);
  border-radius: 20px;
  box-shadow: 3px 3px 2px gray;
}
#Rekruitment-Public .Text h4,
#Rekruitment-User .Text h4 {
  font-family: concert one;
  font-size: 28px;
  margin-top: 20px;
}
#Rekruitment-Public .Text h5,
#Rekruitment-User .Text h5,
#Dokument-Alir .Text h5 {
  font-family: concert one;
  color: red;
  font-size: 22px;
  margin-top: 20px;
}
/* Akhir Rekruitment */

/* Awal Pendaftaran */
#Pendaftaran .form-pendaftaran label,
#Dokument-Alir-User .form-Dokument label {
  font-family: concert one;
}
#Pendaftaran .form-pendaftaran input,
#Dokument-Alir-User .form-Dokument input,
#Pendaftaran .form-pendaftaran textarea,
#Pendaftaran .form-pendaftaran select{
  border-color: black;
  border: 2px solid;
}
/* Akhir Pendaftaran */

/* Awal Login */
#Login .bg-Login {
  margin-top: 200px;
  margin-bottom: 100px;
  margin-right: 80px;
  border-style: center;
  border-color: #2a96ce;
  border-radius: 20px;
  box-shadow: 3px 3px 25px #2a96ce;
}
#Login .form-group label {
  font-family: neuton;
}
/* Akhir Login */

/* Awal Register  */
#Register .gambar img {
  width: 100%;
  height: auto;
  margin-top: 220px;
}
#Register .biodata {
  margin-top: 150px;
}
/* Akhir Register */

/* Awal Footer */
#Footer .bg-footer {
  background-color: #2a96ce;
  width: 100%;
}
#Footer hr {
  border: 0.8px;
  border-style: solid;
  border-color: white;
  margin-left: 0;
  margin-top: -5px;
}
#Footer a {
  font-size: 16px;
  font-family: concert one;
  color: #4f4f4f;
  text-decoration: none;
}
#Footer a:hover,
#Footer .copyright span {
  font-size: 16px;
  font-family: concert one;
  color: white;
  text-decoration: none;
}
#Footer .sitemap h4,
#Footer .Hubungi-Kami h4 {
  font-family: concert one;
  color: white;
}
#Footer .sitemap ul {
  margin-top: 10px;
  margin-left: -38px;
  float: left;
  list-style: none;
}
#Footer .address-info i {
  float: left;
  display: table-cell;
  width: 30px;
  margin-left: -40px;
  line-height: 25px;
  font-size: 16px;
  color: #4f4f4f;
}
#Footer .copyright {
  font-size: 16px;
  font-family: concert one;
  color: #4f4f4f;
}
#Footer .address-info li {
  list-style: none;
}
#Footer .address-info p,
#Rekruitment-Public .Text p,
#Rekruitment-User .Text p,
#Dokument-Alir .Text p {
  font-family: concert one;
  font-size: 16px;
  margin-top: 15px;
  color: #4f4f4f;
  text-align: justify;
}
#Footer .sosmed i {
  font-size: 25px;
  margin: 0 12px 0 12px;
  color: #4f4f4f;
}
/* Akhir Footer */

/* Awal Footer */
/* Akhir Footer */
